<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-12">
      <div class="card mt-4">
        <h5 class="card-header">Basic Information</h5>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-12 col-md-8">
              <label for="formGroupDesc">Descriptions</label>
              <input
                type="text"
                class="form-control"
                placeholder="Example input"
                formControlName="description"
              />
            </div>
            <div class="form-group col-12 col-md-4">
              <label for="formControlFile1">Upload image</label>
              <input type="file" class="form-control-file" formControlName="image" />
            </div>
          </div>
          <div class="row">
            <div class="form-group col col-center-block">
              <label class="mr-3">Category: </label>
              <div class="form-check form-check-inline" *ngFor="let category of categoryEnum">
                <input
                  class="form-check-input"
                  type="checkbox"
                  [value]="category"
                  (change)="onChange(category, $event.target.checked)"
                />
                <label class="form-check-label">{{ category }}</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="formGroupPrep">Prepare Time</label>
              <input type="text" class="form-control" placeholder="0" formControlName="prepTime" />
            </div>
            <div class="form-group col-md-4">
              <label for="formGroupCook">Cook Time</label>
              <input type="text" class="form-control" placeholder="0" formControlName="cookTime" />
            </div>
            <div class="form-group col-md-4">
              <label for="inputDiff">Difficulty</label>
              <select class="form-control" formControlName="difficulty">
                <option *ngFor="let difficultyEl of difficultyEnum" [value]="difficultyEl.value">{{
                  difficultyEl
                }}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-4">
              <label for="formGroupServing">Servings</label>
              <input type="text" class="form-control" placeholder="0" formControlName="servings" />
            </div>
            <div class="form-group col-md-4">
              <label for="formGroupSource">Source</label>
              <input
                type="text"
                class="form-control"
                placeholder="Simple Recipes"
                formControlName="source"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="formGroupUrl">URL</label>
              <input
                type="text"
                class="form-control"
                placeholder="https://exmaple.com"
                formControlName="url"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card mt-4">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h5>Ingredients</h5>
            </div>
            <div class="col text-right">
              <button type="button" class="btn btn-primary text-right" (click)="addIngredients()">
                Add
              </button>
              <button
                type="button"
                class="btn btn-danger text-right ml-2"
                (click)="removeIngredients()"
              >
                Remove
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div
            class="row"
            *ngFor="let ingredient of ingredients.controls; let i = index"
            [formGroup]="ingredient"
          >
            <div class="form-group col-1">
              <input type="text" class="form-control" placeholder="0" formControlName="amount" />
            </div>
            <div class="form-group col-3">
              <select class="form-control" formControlName="uom">
                <option *ngFor="let unitOfMeasure of unitOfMeasureEnum" [ngValue]="unitOfMeasure">{{
                  unitOfMeasure
                }}</option>
              </select>
            </div>
            <div class="form-group col-7">
              <input
                type="text"
                class="form-control"
                placeholder="description"
                formControlName="description"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card mt-4">
        <h5 class="card-header">Directions</h5>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-12">
              <div class="form-group">
                <textarea class="form-control" rows="4" formControlName="directions"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-12">
      <div class="card mt-4">
        <h5 class="card-header">Notes</h5>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-12">
              <div class="form-group">
                <textarea class="form-control" rows="4" formControlName="notes"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col text-right">
              <button type="submit" class="btn btn-primary mr-2">Submit</button>
              <button type="button" class="btn btn-danger">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
